html, body{
	min-height: 100%;
	font-family: 'Amatic SC', cursive;
	font-family:Arial, Helvetica, sans-seri;
}
body{
	background-image: url(../tools/city-wallpaper-18.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.navbar-inverse{
    background-color: #7a1111;/*#193844*/
    border-color: #080808;
}
.bgvideo{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -50;

}
.header-text{
	width: 100%;
	max-width: 960px;
	font-size: 6em;
	text-align: center;
	margin: auto;
}
.form-container{
	padding:50px;
  background-color: #fff;
  height: 450px;
  margin:100px auto;
	border-radius: 20px;
	opacity: 0.9;
}
.profile-info{
	min-height: 200px;
	/*background: #ccc;*/
	position: relative;
}
.profile{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	margin: auto;
	padding: 10px;
	color: white;
	/*border-radius: 50%;*/
}
.profile-pic{
	width: 100px;
	height: 100px;
	/*background-color: #ccc;*/
	margin: 10px auto	;
	border-radius: 50%;
}
.id-image{
	height: 200px;
	width: 200px;
	background-color: black;
	border: 2px solid red;
	margin-bottom: 30px;
}
.profile-info{
	list-style: none;
	font-size: 25px;
}
.text-centered{
	text-align: center;
}
.margin-auto{
	margin: auto;
}
/*#home{
	width: 100%;
	height: 100vh;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
}*/



















/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}
section{
	display: block;
}
.gallery img:hover{
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

/* Standard syntax */
@keyframes mymove {
    50% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {

	}
	.well{
		width:90%;
	}
}
@media (max-width: 900px){

}

@media (min-width: 580px){

}
